html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;

  width: 100%;
  height: 100%;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

/* APP CONTAINER */
#app {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* INPUT / BUTTONS */
.todo-main {
  width: 400px;
  height: auto;
  background-image: linear-gradient(163deg, #531253 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.todo-main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  background-color: #1a1a1a;
  border-radius: 19px;
  transition: all 0.2s;
}

.todo-main2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.todo-main:hover {
  box-shadow: 0px 0px 30px 1px rgba(26, 4, 41, 0.3);
}

.input-holder {
  padding: 20px;
}

.todo-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
}

.todo-input:focus {
  outline: none;
  border-color: #a3218e;
  box-shadow: 0 0 5px rgba(190, 22, 168, 0.5);
}

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.todo-button {
  padding: 5px;
  font-size: 14px;
  width: auto;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
}

.todo-button:hover {
  background-color: rgba(128, 128, 128, 0.384);
  transition: 0.3s;
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 25px;
  line-height: 1;
}

.clear-button:hover {
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.384);
  transition: 0.3s;
}

.todo-filter {
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  text-align: center;
}

.todo-filter:focus {
  border-color: #a3218e;
  box-shadow: 0 0 5px rgba(190, 22, 168, 0.5);
}

/*  FILTER*/
.filter-holder {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.control-holder {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

/*  TODOLIST */
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 0 20px;
  align-items: center;
  color: white;
}

.todo-left {
  display: flex;
  min-width: 0;
  align-items: center;
}

.todo-left span {
  margin: 0 10px;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.todo-list button {
  border: none;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 25px;
  color: white;
}
